Source: python-alogger
Section: python
Priority: optional
Maintainer: Brian May <bam@debian.org>
Build-Depends: debhelper (>=8.1.0), python (>= 2.6.6-3~)
Standards-Version: 3.9.3

Package: python-alogger
Architecture: all
Homepage: http://trac.vpac.org/alogger-ng/
Depends: ${misc:Depends}, ${python:Depends}
Description: Small Python library to parse resource manager logs
 Parses PBS and SGE logs and puts the information
 in a common Python dictionary.
 Provides one method that takes in a log file and type and
 returns a Python dictionary of log attributes.
